<!-- Filter Section -->
<select [(ngModel)]="filterCategory" name="filterCategory">
  <option value="">All Categories</option>
  <option *ngFor="let cat of uniqueCategory" [value]="cat">{{ cat }}</option>
</select>

<input type="date" [(ngModel)]="filterDate" name="filterDate" />

<button (click)="applyFilters()">Apply Filters</button>
<button (click)="resetFilters()">Reset</button>



<form (ngSubmit)="submitExpense()">
  <select [(ngModel)]="newExpense.category" name="category">
    <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
  </select>

  <input type="number" placeholder="Amount" [(ngModel)]="newExpense.amount" name="amount" />
  <input type="date" [(ngModel)]="newExpense.date" name="date" />
  <input type="text" placeholder="Notes" [(ngModel)]="newExpense.notes" name="notes" />
  <button type="submit">Add Expense</button>
</form>

<p>Expense Components</p>
<ul *ngIf="expenses.length" class="expense-list">
  <li *ngFor="let expense of filteredExpenses">
    <div class="card">
      <h3><strong>Date:</strong> {{expense.date}}</h3>
      <div class="sub-class">
        <p>Category: {{expense.category}}</p>
        <p class="amount"><strong>Amount:</strong> {{expense.amount}}</p>
        <p><strong>Notes:</strong> {{expense.notes}}</p>
      </div>
      <div class="footer-class">
        <button (click)="delete(expense.id)" class="submit_btn">Delete</button>
      </div>
    </div>
  </li>
</ul>